body {
	background-color: darkgrey;
}

nav {
	padding: 2em;
	background-color: black;
	width: 100%;

}

nav li {
	padding: 2em;
	font-size: 2em;
	list-style: none;
}

nav a {
	color: #49b966;
}

nav a:hover {
	color: red;
	text-decoration: none;
}

.lexcolor {
	background-color: #49b966;
	color: #fff;
}

.jumbotron {
	padding: 1em;
}
